/* font import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,700;1,400&family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background: linear-gradient(360deg, #150032 23.99%, #9D44C0 100%);
  background-repeat: no-repeat;
  height: 100vh;
}


/* Navbar Css */

.nav-bar {
  position: relative;
  left: 0; top: 0; right: 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: .8em;
  margin: 0 9vw;
  border-bottom: .1px solid white;
  overflow: hidden;
}

.right {
  display: flex;
  align-items: center;
  margin-left: 346px;
}

.product-name {
  font-family: 'Nicomedia', Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  padding: .3em .7em;
  cursor: pointer;
  font-style: italic;
  background: linear-gradient(179deg, #E7C6D4 19.25%, #DC4D95 56.74%, #642DE6 85.54%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.links-container {
  display: grid;
  grid-template-columns: 80px 100px 70px 70px;
  margin-left: 100px;
  gap: 2px;
}

.link-item {
  font-size: 14px;
  list-style: none;
  padding: .5em;
  border-radius: 8px;
  text-align: center;
  transition: .5s;
  color: white;
  cursor: pointer;
}

.link-item a {
  color: white;
  text-decoration: none;
}

.link-item:hover {
  background-color: #F79540;
}

/* Nav Button */

.nav-button {
  margin-left: 15px;
  display: flex;
  align-items: center;
  column-gap: .8em;
}

.nav-button button {
  padding: .7em 1.3vw;
  border: none;
  transition: .5s;
  background: linear-gradient(180deg, #9F1684 0%, #5B0049 100%);
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

select {
  color: white;
  background: none;
  border: none;
  outline: none;
  
}

select option {
  background:black;
  outline: none;
}

.login-submit:hover,
.nav-button button:hover {
  background: linear-gradient(180deg, #F46600 0%, #5B2600 100%);
}

.container {
  padding: 2.5% 9vw;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 70%;
}

.title {
  font-family: 'Nicomedia laser';
  font-style: italic;
  letter-spacing: 4px;
  color: #531FC8;
  font-size: 2.7em;
  -webkit-text-stroke: .0001px white;
}

.cs-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.input-container {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.submit-container {
  display: flex;
  justify-content: end;
}

.submit-container input {
  padding: .7em 1.3vw;
  border: none;
  transition: .5s;
  background: linear-gradient(180deg, #9F1684 0%, #5B0049 100%);
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.submit-container input:hover {
  background: linear-gradient(180deg, #F46600 0%, #5B2600 100%);
}
