/* font import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,700;1,400&family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* Navbar Css */

.nav-bar {
  position: relative;
  left: 0; top: 0; right: 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: .8em;
  margin: 0 9vw;
  border-bottom: .1px solid white;
  overflow: hidden;
}

.right {
  display: flex;
  align-items: center;
  margin-left: 336px;
}

.product-name {
  font-family: 'Nicomedia', Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  padding: .3em .7em;
  cursor: pointer;
  font-style: italic;
  background: linear-gradient(179deg, #E7C6D4 19.25%, #DC4D95 56.74%, #642DE6 85.54%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.links-container {
  display: grid;
  grid-template-columns: 80px 100px 70px 70px;
  margin-left: 100px;
  gap: 2px;
}

.link-item {
  font-size: 14px;
  list-style: none;
  padding: .5em;
  border-radius: 8px;
  text-align: center;
  transition: .5s;
  color: white;
  cursor: pointer;
}

.link-item a {
  color: white;
  text-decoration: none;
}

.link-item:hover {
  background-color: #F79540;
}

/* Nav Button */

.nav-button {
  margin-left: 15px;
  display: flex;
  align-items: center;
  column-gap: .8em;
}

.nav-button button {
  padding: .7em 1.3vw;
  border: none;
  transition: .5s;
  background: linear-gradient(180deg, #9F1684 0%, #5B0049 100%);
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

select {
  color: white;
  background: none;
  border: none;
  outline: none;
  
}

select option {
  background:black;
  outline: none;
}

.login-submit:hover,
.nav-button button:hover {
  background: linear-gradient(180deg, #F46600 0%, #5B2600 100%);
}

/* Isian Css */

.hero-section {
  margin-top: 1%;
  position: relative;
  padding: 1em 9vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Left side */

.hero-text-container {
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.hero-header {
  letter-spacing: 2.7px;
  word-spacing: 3px;
  line-height: 140%;
  font-size: 2.5em;
}

.hero-header span {
  font-family: 'Nicomedia laser';
  font-size: 143%;
  color: #AE118F;
  letter-spacing: 3.5px;
  -webkit-text-stroke: .00001px black;
}

.hero-text {
  word-spacing: 3px;
  width: 70%;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  text-align: justify;
  font-family: 'Jetbrains mono';
}

.signIn-group {
  display: flex;
  align-items: center;
  gap: .6em;
}

.get-started {
  border-radius: 9px;
  background: linear-gradient(180deg, #9F1684 0%, rgb(33, 1, 26) 100%);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  padding: .8em 1.3em;
  cursor: pointer;
  transition: .3s;
}

.get-started:hover {
  background: linear-gradient(180deg, rgba(247, 149, 64, 0.64) 43.75%, rgb(15, 7, 0) 100%);
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: .2em .5em;
  border: 1px solid rgba(255, 255, 255, 0.719);
  background-color: rgba(185, 185, 185, 0.515);
  border-radius: 30%;
  cursor: pointer;
  transition: .3s;
}

.social-media:hover {
  background-color: white;
}

.socmed-icon{
  height: 70%;
}

/* Right side */

.hero-img-container {
  position: relative;
  width: 100%;
  height: 24em;
}

.hero-img {
  height: 23.5em;
  position: absolute;
}

.hero-mountain {
  transform: translate(-50%, 15%);
}

.hero-moon {
  height: 24em;
  transform: translate(70%, 10%);
}

/* Shedule Css */

.schedule-part {
  position: relative;
  margin-top: 7%;
  padding: 1em 9vw;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.t-head,
.schedule-part h1 {
  font-family: 'Nicomedia laser';
  font-style: italic;
  letter-spacing: 4px;
  color: #531FC8;
  font-size: 2.7em;
  -webkit-text-stroke: .0001px white;
}

/* table */

.schedule-table {
  font-family: 'jetbrains mono';
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.4);
  padding: .7em 1em;
  border-radius: 10px;
  border-spacing: 10px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 16.5%;
  gap: 4%;
}

.t-head {
  font-size: 2em;
  -webkit-text-stroke: 0px white;
}

.auction-type {
  font-size: 1.2em;
  font-family: 'Nicomedia laser';
  font-style: italic;
  letter-spacing: 2px;
  color: #531FC8;
}

.location-time {
  margin-top: 2%;
}

/* Stuffs*/
.stuffs-part h1 {
  font-family: 'Nicomedia laser';
  font-style: italic;
  letter-spacing: 4px;
  color: #531FC8;
  font-size: 2.7em;
  -webkit-text-stroke: .0001px white;
}

.stuffs-part {
  background:transparent ;
  position: relative;
  margin-top: 5%;
  padding: 1em 9vw;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.stuffs-table  {
  border-spacing: 20px;
}
.stuffs-table td  {
  padding:10px;
}
.stuffs-table tr  {
  border: solid 1px white;
}
.stuffs-table p{
  padding: 5px;
  color: #C0B6B6;
  
}
img{
  border-radius: 5%;
}
.stuffs-title  {
  font-size: 32px;
  color: white;
  font-weight: bold;
} 

